 .dark-theme{
  display: flex;
  flex-direction: column;  
  background-color: #3d3630;
  color: #d0b065;
  justify-items: center;

 .plant-list {
    display: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .plant-list.show {
    display: block;
  }

  .show{
    display: block;
  }
  .hide{
    display: none;
  }
  
  
  /* Form Style */
  .form-container {
    background-image: url('/public/old-paper.webp');
    background-size: cover;
    padding: 2rem;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Old Standard TT", serif;
  }
  
  .form-container {
    background-image: url('/public/old-paper-dark.png');
    color: #d0b065;
  }
  
  .form-container label {
    color: #d0b065;
  }
  
  .form-title{
    text-align: center;
  }
  
  .form-container input,
  .form-container select {
    background-color: #333; /* Dark gray */
    color: #fff; /* White text */
    border: 1px solid #555; /* Slightly lighter gray border */
    border-radius: 8px; /* Rounded corners */
    padding: 12px; /* Padding */
    width: 100%;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .form-container input:focus,
  .form-container select:focus {
    border-color: #64b5f6;
    outline: 2px solid #9bbde6; /* Light blue outline */
    box-shadow: 0 0 0 3px rgba(100, 181, 246, 0.3); /* Light blue shadow */
  }
  
  .input-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 0.25rem;
  }
  
  .input-group label {
    color: #e0e0e0;
  }
  
  .form-container input,
  .form-container select {
    border: 1px solid #777;
    background-color: #796545;
    color: #fff;
  }
  
  .container {
    background-color: #2c2c2c;
  }
  .search-button {
    background-color: #4caf50;
    border: none; /* Remove border */
    color: #fff; /* White text */
    padding: 12px 24px; /* Padding */
    font-size: 1rem; /* Font size */
    cursor: pointer; /* Pointer cursor */
    border-radius: 8px; /* Rounded corners */
    font-weight: 600;
    padding: 12px 24px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease,
      box-shadow 0.2s ease;
    font-family: "Old Standard TT", serif;
  }
  
  .search-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  /* Responsive */
  @media (max-width: 520px) {
    .plant-table {
      font-size: 0.85rem; /* Achica la fuente */
    }
  
    .plant-table th, .plant-table td {
      padding: 0.4rem; /* Reduce más el padding */
      text-align: center;    
      font-size: 0.75rem; 
    }
    .form-container {
      padding: 1rem;
      max-width: 95%;
    }
  
    .input-group label {
      font-size: 0.9rem; /* Reducir tamaño de fuente */
    }
  
    .form-container input,
    .form-container select {
      padding: 10px; /* Disminuir padding */
      font-size: 0.9rem; /* Ajuste de tamaño de fuente */
    }
  
    .search-button {
      padding: 10px;
      font-size: 0.9rem;
    }
   
  }
  @media screen and (orientation: landscape) {
  
    .form-container {
      width: 100%;
      max-width: 500px;
    }
  }

}