.App{
  top:0;
  right: 0;
  left:0;
}
/* Base styles */
.navbar {
  background-color: rgba(32, 32, 32, 0.9);
  color: #d0b065;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
  font-family: "Old Standard TT", serif;
  font-size: 1.1rem;
  font-weight: bold;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-brand {
  font-size: 1.3rem;
  font-weight: 700;
  transition: color 0.3s ease;
  margin-bottom: 0.5rem;
}

.navbar-brand:hover {
  color: #c0a055;
}

.navbar-links {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.navbar-links.active {
  display: flex;
}

.navbar a,
.dark-theme label {
  color: #d0b065;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
}

.navbar a:hover {
  color: #c0a055;
  transform: translateY(-2px);
}

.navbar button {
  background-color: #6b533b;
  border: none;
  color: #d0b065;
  padding: 8px 16px;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  font-family: "Old Standard TT", serif;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 0.5rem;
}

.navbar button:hover {
  background-color: #4f3e2c;
  transform: translateY(-2px);
}

/* Hamburger menu styles */
.navbar-toggle {
  display: block;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #d0b065;
  cursor: pointer;
  padding: 0.5rem;
  align-self: flex-end;
}

/* Dark theme styles */
.dark-theme .navbar {
  background-color: rgba(44, 44, 44, 0.9);
}

.dark-theme .navbar button {
  background-color: #796545;
}

.dark-theme .navbar button:hover {
  background-color: #645539;
}

/* Media query for larger screens */
@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75rem 2rem;
  }
  .navbar-brand {
    margin-bottom: 0;
  }

  .navbar-links {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar a,
  .dark-theme label {
    width: auto;
  }

  .navbar button {
    width: auto;
    margin-top: 0;
  }
}


@media (min-width: 369px) {
  
  .navbar-buttons{
    flex-direction: column;
    display: flex;
  }

}