:root {
  font-family: 'Lora', serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  scroll-behavior: smooth;
  color: #5d4037; /* Dark Brown Text */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #333; /* Light Beige */    
  align-content: center;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f8e8d8; /* Light Beige */
}

::-webkit-scrollbar-thumb {
  background: #a1887f; /* Brownish */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #795548; /* Darker Brown */
}

a {
  font-weight: 500;
  color: #5d4037; /* Dark Brown */
  text-decoration: inherit;
}
a:hover {
  color: #3e2723; /* Very Dark Brown */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif; /* Serif font for headings */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

* {
  box-sizing: border-box;
}

body{
  
}



button,
.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #a1887f; /* Brownish */
  color: #fff;
  cursor: pointer;
}


